language: python
python:
  - 2.5
  - 2.6
  - 2.7
  - 3.1
  - 3.2
  - 3.3
  - pypy
install: 
  - if [[ $TRAVIS_PYTHON_VERSION == '2.5' ]]; then pip install --use-mirrors simplejson; fi
  - pip install .
  - pip install -r requirements-test.txt --use-mirrors
script: py.test --cov smugpy --cov-config .coveragerc tests/
