include LICENSE
include README.md
include CHANGELOG.md
recursive-include tests *
recursive-exclude tests *.pyc *.pyo .coverage
recursive-include examples *
recursive-exclude examples *.pyc *.pyo